<div class="CreateResturantForm"  >
    <form >
     Restaurant : <input type="text" ng-model="restaurant"/><br>
     Address : <input type="text" ng-model="address"/><br>
     Phone Number: <input type="text" ng-model="phone"/><br>
     <!--Restaurant Name: <input type="text" ng-model="restaurant"/><br>-->
     Tags : <input type="text" ng-model="tags"/><br>
     Type Of Cuisine: <input type="text" ng-model="typeofcuisine"/><br>
    <button ng-click="AddRetaurant()">Create</button><br>
    </form>
</div>