<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
<input id="search" type="text" ng-model="Search" style="width : 60%; margin-left: 200px; margin-top: 10px"/>
          <button ng-click="GO()" style="background-color:skyblue" >GO</button>
  
    </div>

  </div>
   <div class="row">
    <table class="table" ng-show="AllMenus.length" >
      <thead>
        <tr>
          <th>Menu Item</th>
          <th>Open </th>
          <th> Price</th>
          <th>Location</th>
          <th> Health </th>
          <th> Serving </th>
          <th> Category </th>
        </tr>
      </thead>
      <tbody ng-repeat="Menu in AllMenus" >
         <tr>
           <td>{{Menu.menu}}</td>
           <td>Yes</td>
           <td>{{Menu.price}}</td>
           <td> Not Found</td>
           <td>Halal</td>
           <td> {{Menu.serving}}</td>
           <td>{{Menu.catagory}}</td>
         </tr>
      </tbody>
    </table>
   </div>
    </div>