<nav class="navbar navbar-default" style="background-color: skyblue" ng-show="showdetails">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a ng-href="/showmenu/{{restname}}/{{restId}}" data-toggle="dropdown" class="dropdown-toggle"  >Back to Menu</a>
      </li>
    </ul>
    <div class="nav navbar-nav navbar-right" style="padding-top:8px; ">
     <button style="background-color: gainsboro;" class="btn btn-default"  data-toggle="modal" data-target="#menuDetail">Add Details</button>
    </div>
  </div>
</nav>  
<!--<div class="container" style="background-color: skyblue">
<h3 style="text-align: center">Menu Details</h3>

</div>-->

<div class="container">
<div class="row">
<div class="modal" id="menuDetail">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h3>Menu Detail Form</h3>
</div>
<div class="modal-body">
<form class="form-horizontal">
<div class="form-group">
<label class="control-label col-sm-4">Type Of Cuisine:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="e.g Arabic/Italian" ng-model="typesofcuisine">
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4">Quantity:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="e.g Salmon 6pcs" ng-model="quantity">
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Serving:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="e.g Small/Large" ng-model="serving">
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Some other details:</label>
      <div class="col-sm-4">
        <textarea type="text" class="form-control" placeholder="e.g Our Menu item is a new favorite in Halifax, Stop on in and give it a try!" ng-model="other_details"/>
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Gluten Free:</label>
      <div class="radio">
      <label ><input type="radio" ng-model="glutinfree" value="Yes">Yes</label>
      <label><input type="radio" ng-model="glutinfree" value="No">No</label>
    </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Halal?</label>
      <div class="checkbox">
      <label ><input type="checkbox" ng-model="typeofmenu" >Halal</label>
    </div>
</div>
</form>
</div>
<div class="modal-footer">
<button  class="btn btn-primary" ng-click="DetailMenu()" data-dismiss="modal">Add Details</button>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="container" style="background-color: skyblue" ng-show="showButton">
<div class="row">
<div class="col-lg-3 col-md-2" >
  <img src="/views/images/pizza.jpg"alt=""  style="width: 200px; height: 200px;padding-top: 70px;padding-left: 50px"></td> 
</div>
<div class="col-lg-6 col-md-6" >
<h3 >{{getMenuDetails.menu}}</h3>
<p >{{getMenuDetails.other_details}}</p>
<p><strong>Catagory</strong> : {{getMenuDetails.catagory}}</p>
<p><strong>Type Of Cuisine</strong> : {{getMenuDetails.typesofcuisine}}</p>
<p><strong>Quantity</strong> : {{getMenuDetails.quantity}}</p>
<p><strong>Serving</strong> : {{getMenuDetails.serving}}</p>
<p><strong>Gluten Free ?</strong> : {{getMenuDetails.glutinfree}}</p>
</div>
<div class="col-lg-3 col-md-3">
<h2 >${{getMenuDetails.price}}</h2>
<strong>{{halal}}</strong>
</div>

</div>

</div>
