<div class="container" style="background-color: skyblue">
<h3 style="text-align: center">Menu Details</h3>
<form class="form-horizontal">
<div class="form-group">
<label class="control-label col-sm-4">Type Of Cuisine:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="e.g Arabic/Italian" ng-model="typesofcuisine">
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4">Quantity:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="e.g Salmon 6pcs" ng-model="quantity">
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Serving:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="e.g Small/Large" ng-model="serving">
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Some other details:</label>
      <div class="col-sm-4">
        <textarea type="text" class="form-control" placeholder="e.g Our Menu item is a new favorite in Halifax, Stop on in and give it a try!" ng-model="other_details"/>
      </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Gluten Free:</label>
      <div class="radio">
      <label ><input type="radio" ng-model="glutinfree" value="Yes">Yes</label>
      <label><input type="radio" ng-model="glutinfree" value="No">No</label>
    </div>
</div>
<div class="form-group">
<label class="control-label col-sm-4" >Type of menu:</label>
      <div class="radio">
      <label ><input type="radio" ng-model="typeofmenu" value="Halal">Halal</label>
      <label><input type="radio" ng-model="typeofmenu" value="Haram">Haram</label>
    </div>
</div>
<div class="form-group">        
      <div class="col-sm-offset-4 col-sm-12">
        <button  class="btn btn-primary" ng-click="DetailMenu()">Add Details</button>
        <button  class="btn btn-primary" ng-click="ShowMenu()">Show Details</button>
      </div>
    </div>
</form>

</div>

<div class="container" style="background-color: skyblue">
<div class="row">
<div class="col-lg-3 col-md-3" >
  <img src="/views/images/burger.jpg"alt=""  border="5" style="height: 120px;border: 2px solid;border-radius: 25px;background-color: skyblue"></td> 
</div>
<div class="col-lg-6 col-md-6">
<h3>{{getMenuDetails.menu}}</h3><br>
<p>{{getMenuDetails.other_details}}</p>
</div>
<div class="col-lg-3 col-md-3">
<h2 ng-show="showButton">${{getMenuDetails.price}}</h2>
<button class="btn btn-primary" data-toggle="modal" data-target="#Details" ng-show="showButton" >Mor Details</button>
</div>

</div>

</div>

<div class="container">
<div class="row">
<div class="modal" id="Details" >
<div class="modal-dialog" style="width: 60%">
<div class="modal-content">
<div class="modal-header">
  <span>
<button class="close" data-dismiss="modal">&times;</button>  
<h3> Menu Details</h3></span>
</div>
<div class="modal-body">
<table class="table table-striped">
<thead>
        <tr>
          <th>Menu Item</th>
          <th>Type Of Cuisine</th>
          <th>Gluten Free</th>
          <th>Serving</th>
          <th>Quantity</th>
          <th>Catagory</th>
          <th>Type Of menu</th>
        </tr>
</thead>
<tbody>
 <tr>
             <td>{{getMenuDetails.menu}}</td>
             <td>{{getMenuDetails.typesofcuisine}}</td>
             <td>{{getMenuDetails.glutinfree}}</td>
             <td>{{getMenuDetails.serving}}</td>
            <td>{{getMenuDetails.quantity}}</td>
            <td>{{getMenuDetails.catagory}}</td>
            <td>{{getMenuDetails.typeofmenu}}</td>
          </tr>
</tbody>
</table>
</div>
<div class="modal-footer">
<button class="btn btn-primary btn-sm" data-dismiss="modal">OK</button>
</div>
</div>
</div>
</div>
</div>
</div>