


<div class="container">
    <div class="row">
<h1 style="text-align: center;">Restaurant Form</h1>
		<div style="width: 100%">
			<form class="form-horizontal"  >
			   <div  class="form-group">
			   		  <label class="control-label col-sm-4">Restaurant Name</label>
               <div class="col-sm-5">
                          <input class="form-control" type="text" ng-model="restaurant"  placeholder="e.g Optp">
               </div>
			   </div>
			    <div class="form-group">
                    <label class="control-label col-sm-4">Address</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" ng-model="address" placeholder="e.g Halifax near ">
                    </div>
				</div>	
                <div class="form-group">
                    <label class="control-label col-sm-4">Phone Number</label>
                    <div class="col-sm-5">
				       <input class="form-control" type="number" ng-model="phone" placeholder="e.g +1678231">
                    </div>
				</div>	
                <div class="form-group">
                    <label class="control-label col-sm-4">Timings</label>
                    <div class="col-sm-5">
				    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Addtimings">Add Timings</button>
                    </div>
				</div>			
        <div class="form-group">
         <div class="col-sm-offset-4 col-sm-10">
				      <button class="btn btn-primary " ng-click="AddRestaurant()">Add Restaurant</button>
         </div>
        </div>
			</form>
      <br>
      <br>
		</div>	



        <table class="table" ng-show="AllRestaurants.length">
            <thead>
                <tr>
                    <th>Restaurant Name</th>
                    <th>Address </th>
                    <th>Phone Number</th>
                    <th>Open/Close</th>
                    <th>Timings</th>
                </tr>
            </thead>

            <tbody ng-repeat="Restaurant in AllRestaurants"  >
                     <tr>
                           <td>
                            {{Restaurant.restaurant}}
                           </td> 
                           <td>
                             {{Restaurant.address}}
                           </td>
                           <td>
                             {{Restaurant.phone}}
                           </td>
                           <td>{{Restaurant.property}}</td>
                           <td>
                             <button class="btn btn-primary" data-toggle="modal" data-target="#ShowTimings" ng-click="My_Restaurant(Restaurant._id)" >Show Timings</button>
                           </td>
                           <td>
                             <button class="btn btn-primary btn-sm" ng-click="UpdateRestautantPage(Restaurant._id)" data-toggle="modal" style="background-color: green" >Edit </button>
                           </td>
                           <td>
                              <button ng-click="DeleteRestaurant(Restaurant._id,Restaurant)" style="background-color: red" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DeleteRestaurant">Remove </button>
                           </td>
                           <td>
                              <button class="btn btn-primary btn-sm" ng-click="ShowMenuPage(Restaurant)"  >Show Menu </button>
                           </td>

                     </tr>


            </tbody>

        </table>

        <div class="col-xs-12">

          <div class="modal" id="ShowTimings">
            <div class="modal-dialog">
             <div class="modal-content">
                  <div class="modal-header">
                     <button class="close" data-dismiss="modal">&times;</button>
                     <h3> {{my_restaurant.restaurant}} Schedule </h3>
                  </div>
                  <div class="modal-body" >
                <table class="table table-striped" id="tblGrid">
            <thead id="tblHead">
              <tr>
                <th>Days</th>
                <th>Timings</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Monday</td>
                <td>{{my_restaurant.opentime.monday}} {{my_restaurant.opentimezone.monday}} - {{my_restaurant.closetime.monday}}  {{my_restaurant.closetimezone.monday}}</td>
              </tr>
              <tr><td>Tuesday</td>
                <td>{{my_restaurant.opentime.tuesday}} {{my_restaurant.opentimezone.tuesday}}- {{my_restaurant.closetime.tuesday}} {{my_restaurant.closetimezone.tuesday}}</td>
              </tr>
              <tr><td>Wednesday</td>
                <td>{{my_restaurant.opentime.wednesday}} {{my_restaurant.opentimezone.wednesday}} - {{my_restaurant.closetime.wednesday}} {{my_restaurant.closetimezone.wednesday}}</td>
              </tr>
              <tr><td>Thursday</td>
                <td>{{my_restaurant.opentime.thursday}} {{my_restaurant.opentimezone.thursday}} - {{my_restaurant.closetime.thursday}} {{my_restaurant.closetimezone.thursday}}</td>
              </tr><tr><td>Friday</td>
                <td>{{my_restaurant.opentime.friday}} {{my_restaurant.opentimezone.friday}} - {{my_restaurant.closetime.friday}} {{my_restaurant.closetimezone.friday}}</td>
              </tr><tr><td>Saturday</td>
                <td>{{my_restaurant.opentime.saturday}} {{my_restaurant.opentimezone.saturday}} - {{my_restaurant.closetime.saturday}} {{my_restaurant.closetimezone.saturday}}</td>
              </tr><tr><td>Sunday</td>
                <td>{{my_restaurant.opentime.sunday}} {{my_restaurant.opentimezone.sunday}} - {{my_restaurant.closetime.sunday}} {{my_restaurant.closetimezone.saturday}}</td>
              </tr>
            </tbody>
          </table>
             </div>
             <div class="modal-footer">
                <button class="btn btn-primary btn-sm" data-dismiss="modal"> OK</button>
             </div>
          </div>
            </div>
          </div>

         <div class="modal" id="Addtimings" >
            <div class="modal-dialog" style="width: 60%">
                 <div class="modal-content">
                 <div class="modal-header">
                     <button class="close" data-dismiss="modal">&times;</button>
                    <h3>Add Timings </h3>
                 </div>
                 <div class="modal-body">
                   <div class="col-sm-4" style="padding-left: 60px">
                   </div>
                   <div class="col-sm-4" style="padding-left: -60px">
                      <h4> Opening Hours </h4>
                   </div>
                   <div class="col-sm-4" style="padding-left: -60px">
                      <h4> Closing Hours </h4>
                   </div>
                   <form class="form-horizontal">
                     <div class="form-group">
                        <label class="control-label col-sm-2" >Monday:</label>
                        <div class="col-sm-4"> 
                    <div class="col-sm-8">
                      <input type="number" class="form-control"  min="1" max="12" ng-model="myobjectOpen.monday">
                    </div><span>
                    <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Opentimezone.monday" ng-options="item for item  in time" ></select>
                    </div></span>
                        </div>
                        <div class="col-sm-4" >
                    <div class="col-sm-8">
                      <input type="number" class="form-control"  min="1" max="12" ng-model="myobjectClose.monday">
                    </div><span>
                      <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Closetimezone.monday" ng-options="item  for item  in time"></select>
                    </div>
                      </span>
                    </div>
                     </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" >Tuesday:</label>
                        <div class="col-sm-4"> 
                    <div class="col-sm-8">
                      <input type="number" class="form-control" min="1" max="12" ng-model="myobjectOpen.tuesday">
                    </div><span>
                    <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Opentimezone.tuesday" ng-options="item  for item  in time"></select>
                    </div></span>
                        </div>
                        <div class="col-sm-4" >
                    <div class="col-sm-8">
                      <input type="number" class="form-control" min="1" max="12" ng-model="myobjectClose.tuesday">
                    </div><span>
                      <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Closetimezone.tuesday" ng-options="item for item  in time"></select>
                    </div>
                      </span>
                    </div>
                     </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" >Wednesday:</label>
                        <div class="col-sm-4"> 
                    <div class="col-sm-8">
                      <input type="number" class="form-control"  min="1" max="12" ng-model="myobjectOpen.wednesday">
                    </div><span>
                    <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Opentimezone.wednesday" ng-options="item for item  in time" ></select>
                    </div></span>
                        </div>
                        <div class="col-sm-4" >
                    <div class="col-sm-8">
                      <input type="number" class="form-control" min="1" max="12" ng-model="myobjectClose.wednesday">
                    </div><span>
                      <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Closetimezone.wednesday" ng-options="item for item  in time"></select>
                    </div>
                      </span>
                    </div>
                     </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" >Thursday:</label>
                        <div class="col-sm-4"> 
                    <div class="col-sm-8">
                      <input type="number" class="form-control" min="1" max="12" ng-model="myobjectOpen.thursday">
                    </div><span>
                    <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Opentimezone.thursday" ng-options="item for item  in time" ></select>
                    </div></span>
                        </div>
                        <div class="col-sm-4" >
                    <div class="col-sm-8">
                      <input type="number" class="form-control" min="1" max="12" ng-model="myobjectClose.thursday">
                    </div><span>
                      <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Closetimezone.thursday" ng-options="item for item  in time"></select>
                    </div>
                      </span>
                    </div>
                     </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" >Friday:</label>
                        <div class="col-sm-4"> 
                    <div class="col-sm-8">
                      <input type="number" class="form-control" min="1" max="12" ng-model="myobjectOpen.friday">
                    </div><span>
                    <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Opentimezone.friday" ng-options="item for item  in time"></select>
                    </div></span>
                        </div>
                        <div class="col-sm-4" >
                    <div class="col-sm-8">
                      <input type="number" class="form-control"  min="1" max="12" ng-model="myobjectClose.friday">
                    </div><span>
                      <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Closetimezone.friday" ng-options="item for item  in time"></select>
                    </div>
                      </span>
                    </div>
                     </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" >Saturday:</label>
                        <div class="col-sm-4"> 
                    <div class="col-sm-8">
                      <input type="number" class="form-control" min="1" max="12" ng-model="myobjectOpen.saturday">
                    </div><span>
                    <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Opentimezone.saturday" ng-options="item for item  in time" ></select>
                    </div></span>
                        </div>
                        <div class="col-sm-4" >
                    <div class="col-sm-8">
                      <input type="number" class="form-control"  min="1" max="12" ng-model="myobjectClose.saturday">
                    </div><span>
                      <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Closetimezone.saturday" ng-options="item for item  in time"></select>
                    </div>
                      </span>
                    </div>
                     </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" >Sunday:</label>
                        <div class="col-sm-4"> 
                    <div class="col-sm-8">
                      <input type="number" class="form-control"  min="1" max="12" ng-model="myobjectOpen.sunday">
                    </div><span>
                    <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Opentimezone.sunday" ng-options="item for item  in time" ></select>
                    </div></span>
                        </div>
                        <div class="col-sm-4" >
                    <div class="col-sm-8">
                      <input type="number" class="form-control"  min="1" max="12" ng-model="myobjectClose.sunday">
                    </div><span>
                      <div class="col-sm-4" >
                      <select class="btn btn-default" ng-model="Closetimezone.sunday" ng-options="item for item  in time"></select>
                    </div>
                      </span>
                    </div>
                     </div>
                   </form>
                 </div>
                 <div class="modal-footer">
                   <button class="btn btn-primary btn-sm"  data-dismiss="modal">Add timings</button>
                 </div>
                 </div>
            </div>
         </div>   
<div class="modal" id="DeleteRestaurant">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
 <p> Your selected Restaurant has been deleted </p>
</div>
<div class="modal-footer">
<button class="btn btn-primary" data-dismiss="modal">OK</button>
</div>
</div>
</div>
</div>
<div class="modal" id="RestaurantDetails" ng-repeat="Restaurant in AllRestaurants">
  <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Restaurant Details</h4>
       </div>
         <div class="modal-body">
            <table class="table">
              <thead>
                 <tr>
                    <th>Restaurant Name</th>
                    <th>Restaurant Address</th>
                    <th>Restaurant Timings</th>
                 </tr>
              </thead>
                 <tbody ng-repeat="Rest in AllRestaurants">
                   <tr>
                      <td>{{Rest.restaurant}}</td>
                      <td>{{Rest.address}}</td>
                      <td>{{Rest.timings}}</td>
                   </tr>
                 </tbody>
            </table>
         </div>
           <div class="modal-footer">
                                   <button class="btn btn-primary" data-dismiss="modal">OK</button>
                               </div>
     </div>
  </div>
</div>


            <div class="modal" id="MEnuModal">
                <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Menu</h4>

                         </div>
                         <div class="modal-body">
                            <form>
                                <div class="form-group">
                                   Menu <input class="form-control" placeholder="e.g Burger" type="text" ng-model="menu"/>
                                </div> 
                                <div class="form-group">
                                   Price <input class="form-control" placeholder="e.g $150" type="text" ng-model="price"/>
                                </div>  
                                <div class="form-group">
                                   Catagory <input class="form-control" placeholder="e.g Italian" type="text" ng-model="catagory"/>
                                </div> 
                                <div class="form-group">
                                   Serving <input class="form-control" placeholder="e.g 2 or 3" type="text" ng-model="serving"/>
                                </div>    
                                <div class="form-group">
                                   Quantity <input class="form-control" placeholder="e.g Large/small" type="text" ng-model="quantity"/>
                                </div>  
                            </form>
                         </div>
                               <div class="modal-footer">
                                   <button class="btn btn-primary" ng-click="AddMenu()">Add Menu</button>
                                   <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                               </div>
                     </div>
                </div>

            </div>
        </div>

    </div>

</div>