<div>
  <!--<h4>{{RestaurantName}}</h4>-->
  <h1 style="text-align: center;">Menu Form</h1>
  <div style="width: 30%; margin: 0 auto;">
    <form>
      <div class="form-group">
        Menu <input class="form-control" placeholder="e.g Burger" type="text" ng-model="menu" />
      </div>
      <div class="form-group">
        Price($) <input class="form-control" placeholder="e.g 150" type="number" ng-model="price" />
      </div>
      <div class="form-group">
        Catagory <input class="form-control" placeholder="e.g Italian" type="text" ng-model="catagory" />
      </div>
      <div class="form-group">
        Serving <input class="form-control" placeholder="e.g 2 or 3" type="text" ng-model="serving" />
      </div>
      <div class="form-group">
        Quantity <input class="form-control" placeholder="e.g Large/small" type="text" ng-model="quantity" />
      </div>
      <div class="radio">
       Glutinfree<input class="form-control" placeholder="e.g Yes/No" type="text" ng-model="glutinfree"/>
      </div>
      <div class="form-group">
        <label>Details</label>
        <input class="form-control" type="text" ng-model="details" placeholder="e.g">
      </div>
      <button class="btn btn-primary" ng-click="AddMenu()">Add Menu</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="modal" id="DeleteMenu">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p> Your selected Menu has been deleted </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
<select ng-model="searchRest"  ng-options="item as item.restaurant for item in getRestaurant" ng-change="ShowMenuPage(searchRest)">
</select>

    <table class="table" ng-show="getMenus.length">
      <thead>
        <tr>
          <th>Menu Item</th>
          <th>Price</th>
          <th>Catagory</th>
          <th>Serving</th>
          <th> Quantity </th>
          <th> Glutin Free </th>
          <!--<th> Category </th>-->
        </tr>
      </thead>
      <tbody ng-repeat="Menu in getMenus ">
        <tr>
          <td>{{Menu.menu}}</td>
          <td>{{Menu.price}}</td>
          <td>{{Menu.catagory}}</td>
          <td>{{Menu.serving}}</td>
          <td>{{Menu.quantity}}</td>
          <td> {{Menu.glutinfree}}</td>
          <td><button ng-click="DeleteMenu(Menu._id,Menu)" style="background-color: red" class="btn btn-primary btn-sm" data-toggle="modal"
              data-target="#DeleteMenu">Remove </button></td>
          <td><button class="btn btn-primary btn-sm" data-toggle="modal" style="background-color: green" ng-click="UpdateMenuPAge(Menu._id,Menu.restaurant)">Edit </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>