<div>
  <h1 style="text-align: center;">Menu Form</h1>
  <div style="width: 30%; margin: 0 auto;">
    <form>
      <div class="form-group">
        Menu <input class="form-control" placeholder="e.g Burger" type="text" ng-model="SearchMenu.menu" />
      </div>
      <div class="form-group">
        Price($) <input class="form-control" placeholder="e.g 5.6"  type="number" ng-model="SearchMenu.price" step="0.01"/>
      </div>
      <div class="form-group">
        Catagory <input class="form-control" placeholder="e.g Italian" type="text" ng-model="SearchMenu.catagory" />
      </div>
      <button class="btn btn-primary" ng-click="UpdateMenu(SearchMenu._id)">Update</button>
    </form>
  </div>

</div>