<div class="container">
<div class="row">
<h1 style="text-align: center;">Restaurant Form</h1>
		<div style="width: 30%; margin: 0 auto;">
			<form  >
			   <div  class="form-group">
			   		  <label>Restaurant Name</label>
                          <input class="form-control" type="text" ng-model="SearchRestaurant.restaurant"  placeholder="e.g Optp">
			   </div>
			    <div class="form-group">
                    <label>Address</label>
				       <input class="form-control" type="text" ng-model="SearchRestaurant.address" placeholder="e.g Halifax near ">
				</div>	
                <div class="form-group">
                    <label>Phone Number</label>
				       <input class="form-control" type="number" ng-model="SearchRestaurant.phone" placeholder="e.g +1234213">
				</div>	
                <div class="form-group">
                    <label>Timings</label>
				      <button class="btn btn-primary" data-toggle="modal" data-target="#UpdatTiming">Update Timing</button>
				</div>			
				      <button class="btn btn-primary" ng-click="UpdateRest(SearchRestaurant._id)">Update Restaurant</button>
			</form>
		</div>


<div class="modal" id="UpdatTiming">
            <div class="modal-dialog">
                 <div class="modal-content">
                 <div class="modal-header">
                     <button class="close" data-dismiss="modal">&times;</button>
                    <h3>Add Timings </h3>
                 </div>
                 <div class="modal-body">
                   <form class="form-horizontal">
                     <div class="form-group">
                        <label class="control-label col-sm-4" >Monday:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="e.g 10 am- 9 pm" ng-model="SearchRestaurant.timings.monday" />
                    </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4" >Tuesday:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="e.g 10 am- 9 pm" ng-model="SearchRestaurant.timings.tuesday">
                    </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4" >Wednesday:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="e.g 10 am- 9 pm" ng-model="SearchRestaurant.timings.wednesday"/>
                    </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4" >Thursday:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="e.g 10 am- 9 pm" ng-model="SearchRestaurant.timings.thursday">
                    </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4" >Friday:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="e.g 10 am- 9 pm" ng-model="SearchRestaurant.timings.friday">
                    </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4" >Saturday:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="e.g 10 am- 9 pm" ng-model="SearchRestaurant.timings.saturday">
                    </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-4" >Sunday:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="e.g 10 am- 9 pm" ng-model="SearchRestaurant.timings.sunday">
                    </div>
                     </div>
                   </form>
                 </div>
                 <div class="modal-footer">
                   <button class="btn btn-primary btn-sm" data-dismiss="modal">Update timings</button>
                 </div>
                 </div>
            </div>
         </div>   			
</div>
</div>